body {
    background-color:#C1C1C1
    
}

.aside {
    height: 800px;
    background-color: #2C4251
}

.interface {
    height:50%;
    border: #B6C649 solid 5px;
}

.maincontent {
    background-color: #FFFFFF
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #D16666;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height:60%;
}

.fiveday {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-container {
    height:10%;
    margin-top:10px;
}

.recent-searches {
    background-color:#FFFFFF;
    height:85%;
    margin: 5%;

}

.current-forecast {
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;

}